In [3]:
import pandas as pd

In [ ]:
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2021-01.csv

In [4]:
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=100)

In [30]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
engine.connect()

In [34]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_date', con=engine))

CREATE TABLE yellow_taxi_date (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [35]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [36]:
df = next(df_iter)

In [37]:
len(df)

100000

In [38]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [39]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [40]:
%%time
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

CPU times: user 2.61 s, sys: 228 ms, total: 2.83 s
Wall time: 17.3 s

In [41]:
from time import time

In [42]:
i = 1
try:
    while True:

        t_start = time()
        
        df = next(df_iter)

        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

        t_end = time()
        print("inserted chunk %s, took %.3f seconds" %(i, t_end - t_start))
        i+=1
except StopIteration:
    print("all data inserted")

inserted chunk 1, took 19.012 seconds
inserted chunk 2, took 17.131 seconds
inserted chunk 3, took 17.933 seconds
inserted chunk 4, took 16.934 seconds
inserted chunk 5, took 21.040 seconds
inserted chunk 6, took 19.396 seconds
inserted chunk 7, took 21.531 seconds
inserted chunk 8, took 21.963 seconds
inserted chunk 9, took 19.575 seconds
inserted chunk 10, took 33.032 seconds
inserted chunk 11, took 18.333 seconds
inserted chunk 12, took 28.713 seconds
inserted chunk 13, took 17.254 seconds
all data inserted

In [1]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-02-03 12:00:30--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.166.80
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.166.80|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2022-02-03 12:00:30 (75.3 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [11]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [13]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [ ]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')